# Ignore compiled files
*.class

# Ignore private files.
.*

# Miscellaneous files
nbactions.xml

# Ignore build files
target/*

# Temporary files.
.*~
*~

# Ignore scaffolding bin files
scaffolding/bin/*

#=======
#Ignore any log files
*.log

#Ignore flash related stuff
Flash*
