# Ignore compiled files
*.class

# Ignore private files.
.*

# Miscellaneous files
nbactions.xml

# Ignore build files
target/*

# Temporary files.
.*~
=======
#Ignore any log files
*.log

#Ignore flash related stuff
Flash*
